<h1>form for a new message</h1>
<form action="/messages" method="post">

  <label for="content">Content</label>
  <input type="text" name="content" id="content">

  <input type="submit" value="Send">
</form>
