<h1>form for a new message</h1>
<form action="/messages/new" method="post">


  <input type="hidden" id="recipient_id" value="<%= @author.id %>">

  <label for="message_content">Message Content</label>
  <input type="text" name="message_content" id="message_content">

  <input type="submit" value="Send">
</form>
