<h1>New Study Session Entry</h1>
<form action="/study_sessions" method="POST">

  <label for="length">How long did you study for? Enter in minutes</label>
  <input type="text" name="length" id="length">

  <label for="topic">What topic did you study?</label>
  <input type="text" name="topic" id="topic">

  <input type="submit" value="Create">
</form>
