<h1>Thank you for deciding to list your vacation rentals on this site. Please fill out the form below</h1>


<form action="/condos" method="POST">
  <label for="condo[name]"><input type="text" name="condo[name]" id="condo_name"></label>

  <label for="condo[owner]"><input type="text" name="condo[owner]" id="condo_owner"></label>##find_or_create_by

</form>
