<p>Post Title: <%= @post.title %> </p>
<p>Post Content: <%= @post.content %> </p>

<a href="/posts/<%= @post.id %>/edit">Edit this post</a>
<a href="/messages/new">Send a message to the author of this post</a>

<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
